{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": false
    }],
    "stage-0"
  ], 
  "plugins": [
    "babel-plugin-transform-export-extensions",
    "babel-plugin-syntax-jsx",
    [ "transform-react-jsx", { "pragma": "h" } ]
  ]
}